/* CSS specific to iOS devices */
// @supports (-webkit-overflow-scrolling: touch) {
//     .front {

//         background: none;

//         &::before {
//             position: fixed;
//             content: "";
//             z-index: -1;
//             width: 100%;
//             height: 100vh;
//             background-image: url(../img/front.jpg);
//             background-position: center;
//             background-size: cover;
//         }
//     }
// }

//Широкие экраны 1200+
@include mediaXL {}

//Десктопы 769 до 1200
@include mediaLg {

    .front {

        background: none;

        &::before {
            position: fixed;
            top: 0;
            left: 0;
            content: "";
            z-index: -1;
            width: 100%;
            height: 100vh;
            background-image: url(../img/front.jpg);
            background-position: center;
            background-size: cover;
        }
    }

    .concerts-section .container {
        box-sizing: border-box;
        width: 900px;
        padding: 50px 80px;
    }

    .about-section .container {
        width: 800px;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;

        .paragraph {
            width: 500px;
            align-self: center;
        }
    }
}

//Планшеты
@include mediaMd {

    .front {

        background: none;

        &::before {
            position: fixed;
            top: 0;
            left: 0;
            content: "";
            z-index: -1;
            width: 100%;
            height: 100vh;
            background-image: url(../img/front.jpg);
            background-position: center;
            background-size: cover;
        }
    }

    .container {
        width: 650px;
        margin: 0 auto;
    }

    .wrapper {
        width: 700px;
        margin: 0 auto;

        .album-cover {
            width: 300px;
            height: 200px;
        }
    }

    .about-section .container {
        width: 650px;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;

        .paragraph {
            width: 500px;
            align-self: center;
        }
    }

    .concerts-section .container {
        width: 650px;
        padding: 50px 30px;
    }

    .concerts-item {
        width: 250px;
        margin: 0 auto;
        text-align: center;
    }

    .concerts-link {
        margin: 0 auto;
    }
}

//Смартфоны
@include mediaSm {

    .header-wrapper {
        width: 100%;
    }

    .menu-btn {
        display: block;
    }

    //скрывает меню на мобильных и оставляет доступным для читалок
    .menu-hide {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
    }

    // --

    .nav-list {
        width: 130px;
        height: 100vh;
        justify-content: flex-start;
        position: absolute;
        top: 48px;
        right: 0px;
        flex-direction: column;
        text-align: right;
        background-color: rgba(12, 12, 12, 0.5);
        @include transition;

        a {
            font-size: 0.8rem;
        }
    }

    // Поворот кнопки меню
    .btn-close {
        transform: rotate(180deg);

        & .btn-line1 {
            transform: rotate(-180deg) translateY(-12px);
        }

        & .btn-line2 {
            opacity: 0;
        }

        & .btn-line3 {
            transform: rotate(-180deg) translateY(12px);
        }
    }
}