@import "normalize";

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), local("PTSans-Regular"),
        url("../fonts/hinted-PTSans-Regular.woff") format("woff"),
        url("../fonts/hinted-PTSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

// VARIABLES
$primary-color: rgb(31, 31, 31);
$secondary-color: rgb(255, 255, 255);
$secondary-color-hover: rgba(195, 0, 255, 0.726);

// MIXINS
@mixin transition {
    transition: ease-out 0.6s all;
}

//MQ MIXINS

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

// GENERAL STYLES

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    background-image: url(../img/bg-body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 760px;
    padding: 50px 150px;
}

.concerts-section .container {
    border: 1px solid #fff;
}

.music-section .container {
    padding: 50px 0;
}

.about-section .container {
    background-color: rgba(12, 12, 12, 0.9);
}

.wrapper {
    padding: 100px 0;
}

hr {
    display: block;
    width: 700px;
    opacity: 0.2;
}

.heading {
    font-size: 35px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.heading-decor {
    font-weight: normal;
    opacity: 0.2;
}

.small-heading {
    font-size: 25px;
}

.section {
    text-align: center;
}


// NAVIGATION
.main-nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(12, 12, 12, 0.5);
    letter-spacing: 2px;
}

.nav-list {
    list-style: none;
    display: flex;
    width: 700px;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;

    a {
        display: inline-block;
        vertical-align: top;
        min-width: 50px;
        padding: 15px;
        color: $secondary-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        @include transition;

        &:hover {
            color: $secondary-color-hover;
        }
    }
}

.logo {
    color: rgb(255, 255, 255);
    padding: 0;
    margin-right: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}

//Music section

.music-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 130px;
}

.album-cover {
    width: 400px;
    height: 277px;
    border: 1px solid rgb(255, 255, 255);
}

.music-description {
    width: 330px;
    font-size: 16px;

    .paragraph {
        text-align: left;
        margin-top: 30px;
    }
}

.music-link-list {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 120px;
    margin: 0;

    a {
        color: #fff;
        text-decoration: none;
        @include transition;
        display: inline-block;
        vertical-align: top;
        height: 50px;
        width: 50px;

        &:hover {
            color: $secondary-color-hover;
        }
    }
}

// SECTION

// .front-wrapper {
//     position: fixed;
//     content: "";
//     z-index: -1;
//     width: 100%;
//     height: 100vh;
//     background-image: url(../img/front.jpg);
//     background-position: center;
//     background-size: cover;
// }

.front {
    width: 100%;
    height: 100vh;
    background-image: url(../img/front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.music-section {
    font-size: 1.2rem;
    width: 100%;
    color: $secondary-color;
    background-color: rgb(12, 12, 12);
}

.about-section {
    font-size: 1.2rem;
    min-height: 800px;
    color: $secondary-color;
}

// CONCERTS 

.concerts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}

.concerts-item {
    width: 350px;
}

.concerts-section {
    background-color: rgb(12, 12, 12);
    width: 100%;
    min-height: 800px;
    color: $secondary-color;
}

.concerts-section .wrapper {
    padding-bottom: 30px;
}

.concerts-img {
    transition: 0.5s ease-in-out all;
}

.concerts-link {
    display: block;
    color: #fff;
    background-color: rgb(12, 12, 12);
    text-decoration: none;
    width: 250px;
    transition: 0.8s ease-in-out all;

    .small-heading {
        text-align: center;
    }
}

.concerts-date {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

// FOOTER

.page-footer {
    width: 100%;
    padding: 20px 0;
    padding-bottom: 30px;
    color: rgb(12, 12, 12);
    background-color: rgb(12, 12, 12);
}

.social-heading {
    text-transform: uppercase;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
}

.social-list {
    display: flex;
    width: 400px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    list-style: none;
}

.social-link {
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    @include transition;

    &:hover {
        color: $secondary-color-hover;
    }
}

// UTILITY CLASSES

.video {
    border: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    outline: none;
    width: 100%;
    height: 400px;
    background-color: #000;
    margin-top: 20px;
}

.paragraph {
    margin-top: 60px;
    margin-bottom: 60px;
}

.lead {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 30px;
}

@import "mobile";