@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), local("PTSans-Regular"),
        url("../fonts/hinted-PTSans-Regular.woff") format("woff"),
        url("../fonts/hinted-PTSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

// VARIABLES
$primary-color: rgb(31, 31, 31);
$secondary-color: rgb(255, 255, 255);
$secondary-color-hover: rgba(195, 0, 255, 0.726);

// MIXINS
@mixin transition {
    transition: ease-out 0.6s all;
}

// GENERAL STYLES
body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    background-image: url(../img/bg-body.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    width: 760px;
    padding: 50px 150px;
}

.concerts-section .container {
    border: 1px solid #fff;
}

.music-section .container {
    padding: 50px 0;
}

.music-section hr {
    width: 30%;
}

.about-section .container {
  background-color: rgba(12, 12, 12, 0.9);
}

.wrapper {
  padding: 100px 0;
}

hr {
  display: block;
  width: 70%;
  opacity: 0.6;
}

.heading {
  font-size: 35px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.small-heading {
  font-size: 25px;
}

.section {
  text-align: center;
}


// NAVIGATION
.main-nav {
    position: fixed;
    width: 100%;
    background-color: rgba(12, 12, 12, 0.5);
    letter-spacing: 2px;
}

.nav-list {
    list-style: none;
    display: flex;
    width: 700px;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    a {
        display: inline-block;
        vertical-align: top;
        min-width: 50px;
        padding: 15px;
        color: $secondary-color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        @include transition;

        &:hover {
            color: $secondary-color-hover;
        }
    }
}

.logo {
    color: rgb(255, 255, 255);
    padding: 0;
    margin-right: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}

// SECTION
.front {
    width: 100%;
    height: 100vh;
    background-image: url(../img/front.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.music-section {
    font-size: 1.2rem;
    width: 100%;
    color: $secondary-color;
    background-color: rgb(12, 12, 12);
}

.about-section {
    font-size: 1.2rem;
    min-height: 800px;
    color: $secondary-color;
}

.concerts-section {
    background-color: rgb(12, 12, 12);
    width: 100%;
    min-height: 800px;
    color: $secondary-color;
}

.footer {
    color: $secondary-color;
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(12, 12, 12);
}

.footer-copyright {
    width: 200px;
    margin: 0 auto;
}

.video {
    grid-column-start: 1;
    grid-column-end: 3;
    outline: none;
    width: 100%;
    height: 450px;
    background-color: #000;
}

// .audio {
//     outline: none;
//     color: grey;
//     display: inline-block;
//     height: 30px;
//     margin: 0;
//     margin-left: 30px;
//     padding: 10px;
// }

// UTILITY CLASSES

.paragraph {
    margin-top: 30px;
    margin-bottom: 60px;
}

.lead {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 30px;
}

.live-sessions {
    margin-bottom: 0;
}
  

// CONCERTS 

.concerts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.music-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.music-description {
    font-size: 16px;
}

.music-link-list {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    margin-bottom: 100px;
    a {
        color: #fff;
        text-decoration: none;
        @include transition;
        display: inline-block;
        vertical-align: top;
        height: 50px;
        width: 50px;

        &:hover {
            color: $secondary-color-hover;
        }
    }
}

.album-cover {
    width: 400px;
    height: 277px;
    border: 1px solid rgb(255, 255, 255);
}